*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
}

.navbar{
    background-color: #0066ff;
    font-family: "Lexend", sans-serif;
    padding: 0 25px 0 25px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 2em;
    font-weight: 500;
    color: white;
}

li{
    list-style: none;
    display: inline-block;
}


button{
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    width: 90px;
}

button a{
    color: black;
    font-weight: bold;
    font-size: 1.25em;
}

button:hover{
    background-color: #d9d9d9;
}